requests >= 2.0.0      # HTTP protocols
Pillow >= 9.0.0         # Image Processing tool
pytesseract >= 0.3.8    # OCR Recognition Tool

# Additional Download Required: tesseract-ocr-w64-setup.exe
# Download at:
# https://github.com/UB-Mannheim/tesseract/wiki